@import url('fonts/openSans.css');

:root {
  --node-size: 62px;
  --node-part-height: 10px;
  --node-part-shadow: 14px;
  --color-main: #0095FF;
  --color-main-dark: #007ce6;
  --color-main-darker: #004d8f;
  --color-main-light: #5bbaff;
  --color-second: #CA0404;
  --color-third: #e9b330;
  --color-fourth: #2AB936;
  --color-fourth-light: #4ce258;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#content {

}

#leftContent, #rightContent {
  float: left;
  height: 100vh;
  overflow: hidden;
}

#leftContent {
  width: 60%;
}

#rightContent {
  width: 40%;
  display: flex;
  flex-direction: column;

  border-left: 1px solid #DDD;
}

.historyContainer {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
}

.grid {
  background: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid .row {
  width: 100%;
}

.node {
  float: left;
  width: var(--node-size);
  height: var(--node-size);

  background: white;
  border: 1px solid;
  border-color: #EEE;
  animation: nodeChange 0.2s ease-out 1;
}

.grid.BASIC .node.totalBlocked {
  background: var(--color-main);
  border-color: var(--color-main-dark);
  animation-name: nodeChangeBlocked;
}

.grid.BASIC .node:hover, .node.hover {
  border-color: var(--color-main-light);
}

.grid.BASIC .node.totalBlocked:hover, .node.totalBlocked.hover {
  border-color: var(--color-main-darker);
}

.grid.BASIC .node {
  cursor: pointer;
}

.grid.BASIC .node.SOURCE_NODE, .grid.BASIC .node.TARGET_NODE {
  cursor: move;
}

.grid .node.SOURCE_NODE.hover {
  border-color: var(--color-fourth);
}

.grid .node.TARGET_NODE.hover {
  border-color: var(--color-second);
}

.grid .node.EditBarrierMouseMode.hover, .grid .node.EditBarrierMouseMode.hover * {
  cursor: pointer !important;
}

.grid .node.EditNodeTypeMouseMode.hover, .grid .node.EditNodeTypeMouseMode.hover * {
  cursor: move !important;
}

.grid .node.MARKED_OPEN_NODE {
  background: var(--color-fourth) !important;
}

.grid .node.MARKED_OPEN_NODE.markedOpenInTurn {
  background: var(--color-fourth-light) !important;
}

.grid .node.MARKED_CLOSED_NODE {
  background: #CCC !important;
}

.grid .node.selectedNodeInTurn {
  background: var(--color-third) !important;
}

@keyframes nodeChange {
  0%   {transform: scale(1);}
  10%  {transform: scale(1.20);}
  100% {transform: scale(1);}
}

@keyframes nodeChangeBlocked {
  0%   {transform: scale(1);}
  10%  {transform: scale(1.20);}
  100% {transform: scale(1);}
}

.grid .node .parts {
    width: 100%;
    height: 100%;
}

.grid .node .part {
  width: calc(100%/3);
  height: calc(100%/3);
  float: left;
}

.grid.ADVANCED .node .part.outer {
  opacity: 0;
  cursor: pointer;
  background-size: calc(100% - 2px);
  background-repeat: no-repeat;
  background-position: 1px 1px;
}

.grid.ADVANCED .node .part.NORTH {
  background-image: url("images/nodePartNorth.svg");
}

.grid.ADVANCED .node .part.NORTH_EAST {
  background-image: url("images/nodePartNorthEast.svg");
}

.grid.ADVANCED .node .part.EAST {
  background-image: url("images/nodePartNorth.svg");
  transform: rotate(90deg);
}

.grid.ADVANCED .node .part.SOUTH_EAST {
  background-image: url("images/nodePartNorthEast.svg");
  transform: rotate(90deg);
}

.grid.ADVANCED .node .part.SOUTH {
  background-image: url("images/nodePartNorth.svg");
  transform: rotate(180deg);
}

.grid.ADVANCED .node .part.SOUTH_WEST {
  background-image: url("images/nodePartNorthEast.svg");
  transform: rotate(180deg);
}

.grid.ADVANCED .node .part.WEST {
  background-image: url("images/nodePartNorth.svg");
  transform: rotate(270deg);
}

.grid.ADVANCED .node .part.NORTH_WEST {
  background-image: url("images/nodePartNorthEast.svg");
  transform: rotate(270deg);
}

.grid.ADVANCED .node.mouseUp .part.outer:hover {
  animation: nodeHover 1s linear infinite;
}

@keyframes nodeHover {
  0%   {opacity: 0.8;}
  25%  {opacity: 0.8;}
  50%  {opacity: 0.2;}
  75%  {opacity: 0.8;}
  100% {opacity: 0.8;}
}

.grid.ADVANCED .node .part.outer.blocked {
  opacity: 1;
  animation: none !important;
}

.grid .node.SOURCE_NODE .part.inner, .grid .node.TARGET_NODE .part.inner {
  border-radius: 100%;
  cursor: move;
}

.grid .node.SOURCE_NODE .part.inner {
  background: var(--color-fourth);
}

.grid .node.TARGET_NODE .part.inner {
  background: var(--color-second);
}

.grid .arrow {
  position: absolute;
  width: 100vh;
  height: 100vw;
  top: 0;
  left: 0;
  pointer-events: none;
  display: none;
}

.grid .node:hover .arrow, .grid .node.hover .arrow, .grid .node.markedOpenInTurn .arrowParent .arrow {
  display: block;
}

.grid .arrow .svg {
  width: 100%;
  height: 100%;
}

.grid .node .arrowParent .arrow .svg {
  opacity: 0.5;
}

.grid .node.markedOpenInTurn .arrowParent .arrow .svg {
  opacity: 0.75;
}

.grid .node .arrowsToGo .arrow .svg {
  opacity: 0.05;
}

.grid .node.anyBlocked .arrowsToGo .arrow .svg {
   opacity: 0.15;
}

.grid .arrow .svg {
  stroke: #000;
  fill: #000;
}

.grid .arrow .svg .line {
  stroke-width: 0.025;
}

.grid .arrow .svg .end {
  stroke-width: 0;
}

.dropDown {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropDown .value {
  padding: 5px 33px 5px 8px;
  font-size: 14px;

  cursor: pointer;
  background: var(--color-main-light);
  color: #FFF;
  overflow: hidden;
}

.dropDown .value.selected, .dropDown .value.current {
  background: var(--color-main);
}

.dropDown .value:hover {
   background: var(--color-main-dark);
}

.dropDown .value.current {
  border-radius: 3px;
  background-image: url("images/dropDownArrowClosed.svg");
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 15px;
}

.dropDown.open .value.current {
  background-image: url("images/dropDownArrowOpen.svg");
}

.dropDown .drop {
  position: absolute;
  padding-top: 5px;
  min-width: 100px;
  display: none;
}

.dropDown.open .drop {
  display: block;
}

.dropDown .arrowLine {
  height: 10px;

  background: url("images/dropDownDropArrow.svg");
  background-position: center left 10px;
  background-repeat: no-repeat;
}

.dropDown .values {
  overflow: hidden;

  border-radius: 3px;
  background: #FFF;
  border: 1px solid #FFF;
  border-top: none;
}

.dropDown .values .value:nth-child(n+2) {
  border-top-width: 0;
}

.menu {
  padding: 10px;
  border-bottom: 1px solid #DDD;
}

.menu>.title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
}

.configs {
  display: flex;
}

.config {
  flex-basis: calc(100%/3);
  padding-right: 10px;
  min-width: 0;

  display: flex;
}

.config:last-child {
  padding-right: 0;
}

.config .title {
  min-width: 0;
  padding-right: 10px;
  padding-top: 3px;

  font-weight: 600;
  overflow: hidden;
}

.config .dropDown {
  flex-grow: 1;
  overflow: hidden;
  margin-right: auto;
}

.button {
  padding: 5px 8px 5px 30px;
  font-size: 14px;

  border-radius: 3px;
  cursor: pointer;
  color: #FFF;
  background-color: var(--color-main);
  background-image: url("images/run.svg");
  background-position: center left 8px;
  background-repeat: no-repeat;
  background-size: 15px;
  margin: auto;
}

.button:hover {
  background-color: var(--color-main-dark);
}

.history {
  overflow-x: hidden;
  overflow-y: scroll;
}

.history .part {
  padding: 5px 8px;

  cursor: pointer;
}

.history .part:hover {
  background: var(--color-main-light);
}

.history .part.active {
  background: var(--color-main);
  color: #FFF;
  cursor: default;
}