@import url('fonts/openSans.css');

:root {
  --node-size: 30px;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#content {
  background: deepskyblue;
}

#leftContent, #rightContent {
  width: 50%;
  float: left;
  height: 100vh;
  overflow: hidden;
}

#leftContent {
}

#rightContent {
}

.grid {
  background: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid .row {
  width: 100%;
}

.node {
  float: left;
  width: var(--node-size);
  height: var(--node-size);

  background: white;
  border: 1px solid;
  border-color: #DDD #BBB #BBB #DDD;
  animation: nodeChange1 0.2s ease-out 1;
}

@keyframes nodeChange1 {
0%   {transform: scale(1);}
10%   {transform: scale(1.20);}
100%   {transform: scale(1);}
}

@keyframes nodeChange2 {
0%   {transform: scale(1);}
10%   {transform: scale(1.20);}
100%   {transform: scale(1);}
}

.node:hover {
  filter: brightness(0.5);
}

.node.totalBlocked {
  background: #888;
  border-color: #777 #666 #666 #777;
  animation-name: nodeChange2;
}